<div class="fm-container">
  <!-- <div class="fm-row fm-row-5pc" style="justify-content: space-between;">
    <label for="email">Email:</label>
    <input type="text" placeholder="Enter Email" name="email" required/>
  </div> -->
  <div class="fm-row fm-stretch-row">
    <div class="fm-row-item fm-row-item-30pc">      
    </div>
    <div class="fm-row-item fm-row-item-40pc">
      <div class="fm-row ">
          <div class="fm-register-form">
            <div>
              <label for="email">Email:</label>
              <input type="text" placeholder="Enter Email" name="email"/>
            </div>
          </div>      
      </div>
    </div>  
    <div class="fm-row-item fm-row-item-30pc">      
    </div>
</div>