<div class="axs-row axs-height-stretched axs-justify-content-center axs-align-items-center">
    <div class="axs-column axs-height-70pc axs-width-25pc">
        <div class="axs-container axs-form">
            <div class="axs-row axs-justify-content-center">
                <div class="axs-column axs-width-stretched axs-align-items-center">
                    
                </div>
            </div>
            <div class="axs-row axs-justify-content-center">
                <div class="axs-column axs-width-stretched axs-align-items-center">
                    <input type="text" placeholder="Email address" class="axs-input-text axs-height-70pc" />
                </div>
            </div>
            <div class="axs-row axs-justify-content-center">
                <div class="axs-column axs-width-stretched axs-align-items-center">
                    <input type="text" placeholder="Manager Name" class="axs-input-text axs-height-70pc" />
                </div>
            </div>    
            <div class="axs-row axs-justify-content-center">
                <div class="axs-column axs-width-stretched axs-align-items-center">
                    <input type="text" placeholder="Club Name" class="axs-input-text axs-height-70pc" />
                </div>
            </div>
            <div class="axs-row axs-justify-content-center">
                <div class="axs-column axs-width-stretched axs-align-items-center">
                    <input type="text" placeholder="Last Name" class="axs-input-text axs-height-70pc" />
                </div>
            </div>    
            <div class="axs-row axs-justify-content-center">
                <div class="axs-column axs-width-stretched axs-align-items-center">
                    <input type="password" placeholder="Password" class="axs-input-text axs-height-70pc" />
                </div>
            </div>
            <div class="axs-row axs-justify-content-center">
                <div class="axs-column axs-width-stretched axs-align-items-center">
                    <input type="password" placeholder="Confirm password" class="axs-input-text axs-height-70pc" />
                </div>
            </div>
            <div class="axs-row axs-justify-content-center">
                <div class="axs-column axs-width-stretched axs-align-items-center">
                    
                </div>
            </div>
        </div>  
    </div>
</div>
<div class="axs-row axs-height-30pc">        
</div>