<div class="axs-container">
    <div class="axs-header">
        <div class="axs-column axs-height-stretched axs-width-15pc"></div>
        <div class="axs-column axs-height-stretched axs-width-55pc">
            <button routerLink="/home" class="axs-button">HOME</button>
        </div>
        <div class="axs-column axs-height-stretched axs-width-15pc axs-dirrection-row-reverse">
            <button routerLink="/login" class="axs-button">SIGN IN</button>
            <button routerLink="/register" class="axs-button">SIGN UP</button>
        </div>
        <div class="axs-column axs-height-stretched axs-width-15pc"></div>
    </div>
    <router-outlet></router-outlet>
</div>