<div class="axs-container">
    <div class="axs-header">
        <div class="axs-column axs-height-stretched axs-width-15pc"></div>
        <div class="axs-column axs-height-stretched axs-width-55pc">
            <button routerLink="/home" class="axs-button">HOME</button>
        </div>
        <div class="axs-column axs-height-stretched axs-width-15pc axs-dirrection-row-reverse">
            <input type="button" value="SIGN IN" routerLink="/login" class="axs-button"/>
            <input type="button" value="SIGN UP" routerLink="/register" class="axs-button"/>
        </div>
        <div class="axs-column axs-height-stretched axs-width-15pc"></div>
    </div>

    <!-- <div class="axs-container">
        <div class="axs-row axs-height-stretched axs-justify-content-center axs-align-items-center">
            <div class="axs-column axs-height-40pc axs-width-25pc">
                <div class="axs-container">
                    <div class="axs-row">
                        <div class="axs-column axs-width-35pc axs-align-items-center axs-justify-content-space-around">
                            <div class="axs-label">Email:</div>
                        </div>
                        <div class="axs-column axs-width-65pc axs-align-items-center">
                            <input type="text" placeholder="Email address" class="axs-height-50pc axs-input-text" />
                        </div>
                    </div>
                    <div class="axs-row">
                        <div class="axs-column axs-width-35pc axs-align-items-center axs-justify-content-space-around">
                            <div class="axs-label">Manager Name:</div>
                        </div>
                        <div class="axs-column axs-width-65pc axs-align-items-center">
                            <input type="text" placeholder="Manager Name" class="axs-height-50pc axs-input-text" />
                        </div>
                    </div>    
                    <div class="axs-row">
                        <div class="axs-column axs-width-35pc axs-align-items-center axs-justify-content-space-around">
                            <div class="axs-label">Club Name:</div>
                        </div>
                        <div class="axs-column axs-width-65pc axs-align-items-center">
                            <input type="text" placeholder="Club Name" class="axs-height-50pc axs-input-text" />
                        </div>
                    </div>
                    <div class="axs-row">
                        <div class="axs-column axs-width-35pc axs-align-items-center axs-justify-content-space-around">
                            <div class="axs-label">Club Country:</div>
                        </div>
                        <div class="axs-column axs-width-65pc axs-align-items-center">
                            <input type="text" placeholder="Last Name" class="axs-height-50pc axs-input-text" />
                        </div>
                    </div>    
                    <div class="axs-row">
                        <div class="axs-column axs-width-35pc axs-align-items-center axs-justify-content-space-around">
                            <div class="axs-label">Password:</div>
                        </div>
                        <div class="axs-column axs-width-65pc axs-align-items-center">
                            <input type="password" placeholder="Password" class="axs-height-50pc axs-input-text" />
                        </div>
                    </div>
                    <div class="axs-row">
                        <div class="axs-column axs-width-35pc axs-align-items-center axs-justify-content-space-around">
                            <div class="axs-label">Confirm password:</div>
                        </div>
                        <div class="axs-column axs-width-65pc axs-align-items-center">
                            <input type="password" placeholder="Confirm password" class="axs-height-50pc axs-input-text" />
                        </div>
                    </div>    
                </div>
            </div>
        </div>
        <div class="axs-row axs-height-40pc">        
        </div>
    </div> -->

    <router-outlet></router-outlet>
 
</div>