html, body {
    height: 100%;
}

.axs-header {
    width: 100%;
    min-height: 50px;
    height: 50px;
    display: flex;
    background-color: lightgreen;
    border: 1px dotted black;
}

.axs-button {
    margin: 5px;
    width: 90px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    border-radius: 3px;
    border: 1px solid darkgreen;    
}

.axs-container {
    display: flex;
    background-color: skyblue;
    border: 1px solid black;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.axs-row {
    background-color: bisque;
    border: 1px dotted black;
    width: 100%;
    height: 100%;
    display: flex;
}

.axs-column {
    background-color: lightsalmon;
    border: 1px double black;
    display: flex;
}

.axs-input-text {
    border-radius: 5px;
    width: 100%;
    min-height: 25px;
    margin: 5px;
}

.axs-label {
    font-family: 'Roboto';
    font-size: 15px;
}

/* #region ITEMS DIRRECTION */

.axs-dirrection-row {
    flex-direction: row;
}

.axs-dirrection-row-reverse {
    flex-direction: row-reverse;
}

.axs-dirrection-column {
    flex-direction: column;
}

.axs-dirrection-column-reverse {
    flex-direction: column-reverse;
}

/* #endregion ITEMS DIRRECTION */

/* #region ALIGN ITEMS */

.axs-align-items-stretch {
    align-items: stretch;
}

.axs-align-items-flex-start {
    align-items: flex-start;
}

.axs-align-items-flex-end {
    align-items: flex-end;
}

.axs-align-items-center {
    align-items: center;
}

.axs-align-items-baseline {
    align-items: baseline;
}

/* #endregion ALIGN ITEMS */

/* #region JUSTIFY CONTENT */

.axs-justify-content-flex-start {
    justify-content: flex-start;
}

.axs-justify-content-flex-end {
    justify-content: flex-end;
}

.axs-justify-content-center {
    justify-content: center;
}

.axs-justify-content-space-between {
    justify-content: space-between;
}

.axs-justify-content-space-around {
    justify-content: space-around;
}

/* #endregion JUSTIFY CONTENT */

/* #region STRETCH */

.axs-height-stretched {
    height: 100%;
}

.axs-width-stretched {
    width: 100%;
}

.axs-stretched {
    height: 100%;
    width: 100%;
}

/*#endregion STRETCH*/

/* #region HEIGHTS */

.axs-height-5pc {
    height: 5%;
}

.axs-height-10pc {
    height: 10%;
}

.axs-height-15pc {
    height: 15%;
}

.axs-height-20pc {
    height: 20%;
}

.axs-height-25pc {
    height: 25%;
}

.axs-height-30pc {
    height: 30%;
}

.axs-height-35pc {
    height: 35%;
}

.axs-height-40pc {
    height: 40%;
}

.axs-height-45pc {
    height: 45%;
}

.axs-height-50pc {
    height: 50%;
}

.axs-height-55pc {
    height: 55%;
}

.axs-height-60pc {
    height: 60%;
}

.axs-height-65pc {
    height: 65%;
}

.axs-height-70pc {
    height: 70%;
}

.axs-height-75pc {
    height: 75%;
}

.axs-height-80pc {
    height: 80%;
}

.axs-height-85pc {
    height: 85%;
}

.axs-height-90pc {
    height: 90%;
}

.axs-height-95pc {
    height: 95%;
}

.axs-height-100pc {
    height: 100%;
}

/* #endregion HEIGHTS */

/* #region WIDTHS */

.axs-width-5pc {
    width: 5%;
}

.axs-width-10pc {
    width: 10%;
}

.axs-width-15pc {
    width: 15%;
}

.axs-width-20pc {
    width: 20%;
}

.axs-width-25pc {
    width: 25%;
}

.axs-width-30pc {
    width: 30%;
}

.axs-width-35pc {
    width: 35%;
}

.axs-width-40pc {
    width: 40%;
}

.axs-width-45pc {
    width: 45%;
}

.axs-width-50pc {
    width: 50%;
}

.axs-width-55pc {
    width: 55%;
}

.axs-width-60pc {
    width: 60%;
}

.axs-width-65pc {
    width: 65%;
}

.axs-width-70pc {
    width: 70%;
}

.axs-width-75pc {
    width: 75%;
}

.axs-width-80pc {
    width: 80%;
}

.axs-width-85pc {
    width: 85%;
}

.axs-width-90pc {
    width: 90%;
}

.axs-width-95pc {
    width: 95%;
}

.axs-width-100pc {
    width: 100%;
}

/* #endregion WIDTHS */